# **Task 18 - (Article 115)** [![Static Badge](https://img.shields.io/badge/Open%20in%20Colab%20-%20orange?style=plastic&logo=googlecolab&labelColor=grey)](https://colab.research.google.com/github/sshrizvi/DS-Python/blob/main/Pandas/Tasks/task_18.ipynb)

|üî¥ **WARNING** üî¥|
|:-----------:|
|If you have not studied article 115. Do checkout the articles before attempting the task.|
| Here is [Important DataFrame Methods](../Articles/115_important_dataframe_methods.md) |

### üì¶ **Importing Relevant Libraries**

In [1]:
import numpy as np
import pandas as pd

### ‚ö†Ô∏è **Settings Warning**

1. To visulaize all the columns of the dataset, run the below code : 
    ```python
    pd.options.display.max_columns = None
    ```

2. To visulaize all the records of the dataset, run the below code : 
    ```python
    pd.options.display.max_rows = None
    ```

In [7]:
pd.options.display.max_columns = None

In [8]:
pd.options.display.max_rows = None

### ‚ö†Ô∏è **Data Warning**
For the questions forward, we are going to use FIFA WORLDCUP 2022 Dataset, which is imported using the direct URL of the dataset.

FIFA WORLDCUP 2022 Dataset : [Link](https://www.kaggle.com/datasets/sayanroy729/fifa-worldcup-2022-results)

#### **Reading Data into DataFrame**

In [9]:
fifa_df = pd.read_csv(
    filepath_or_buffer = '../Resources/Data/fifa_worldcup_2022.csv'
)

In [10]:
fifa_df.head()

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Red Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
0,1,1,Qatar,Ecuador,A,0,40,0,0,0,5,0,5,2,3,15,0,3,1,9,45,5,159,100,6,4,4,0,15,3,453,387,10,5,1,19,0,0
1,2,1,Ecuador,Qatar,A,2,46,2,0,1,5,5,2,4,1,8,7,6,4,6,55,10,159,103,6,4,2,0,15,4,484,419,26,10,3,17,1,3
2,3,2,England,Iran,B,6,69,6,0,6,13,7,3,10,3,11,5,2,3,11,72,15,133,94,8,6,0,0,9,2,810,733,29,9,8,16,0,3
3,4,2,Iran,England,B,2,20,2,0,1,8,3,4,6,2,3,0,3,1,1,34,1,56,19,1,1,2,0,14,2,232,156,11,3,0,10,1,0
4,5,3,Senegal,Netherlands,A,0,39,0,0,0,15,4,7,8,7,12,4,2,4,13,101,12,143,86,6,6,2,0,13,2,391,326,22,8,6,14,0,0

### **üéØ Q1: Team-wise On-Target Percentage in Football Dataset**  

Compute the **percentage of total attempts that were on target** for each team in the dataset.  

1. **Instructions:**  
   1. Identify the **total number of unique teams** that participated in the tournament.  
   2. For each team:  
      - Filter the dataset to include only matches where the team played.  
      - Calculate the **total number of attempts** and **total on-target attempts**.  
      - Compute the percentage using the formula:  
        $$
        \text{On-Target Percentage} = \left(\frac{\text{Total On-Target Attempts}}{\text{Total Attempts}}\right) \times 100
        $$
      - Round the result to **2 decimal places**.  
   3. Store the values in a **Python dictionary**, where the **keys** are team names and the **values** are the computed percentages.  
   4. Sort the dictionary by **percentage values in descending order** and display the final result.  

2. **Expected Output Format:**  
   - A **Python dictionary** containing team names as **keys** and their **on-target percentage** as values, **sorted** in descending order.  
   - Example Output:  
     ```python
     {'Costa Rica': 54.55, 'Cameroon': 51.85, 'Ecuador': 48.15, ... , 'Canada': 17.65}
     ```

In [40]:
# Solution - Question 01

def prepare_dict(teams, df):
    output = {}
    for i in teams:
        mask = df['Team'] == i
        total_attempts = df[mask]['Total Attempts'].sum()
        on_target_attempts = df[mask]['On Target'].sum()
        percentage = round((on_target_attempts / total_attempts) * 100, 2)
        output[i] = percentage
    return dict(sorted(output.items(), key=lambda item: item[1], reverse=True))

teams = fifa_df['Team'].unique()
prepare_dict(
    teams = teams,
    df = fifa_df
)

{'Costa Rica': 54.55,
 'Cameroon': 51.85,
 'Ecuador': 48.15,
 'Argentina': 46.15,
 'Brazil': 45.56,
 'England': 45.0,
 'Portugal': 40.32,
 'Ghana': 40.0,
 'Netherlands': 39.02,
 'Korea Republic': 36.73,
 'Australia': 36.0,
 'Mexico': 34.88,
 'France': 34.65,
 'Germany': 34.33,
 'Croatia': 33.73,
 'Spain': 32.69,
 'Belgium': 32.35,
 'Serbia': 32.26,
 'Iran': 31.43,
 'Uruguay': 31.25,
 'United States': 31.11,
 'Saudi Arabia': 31.03,
 'Senegal': 30.77,
 'Denmark': 30.56,
 'Switzerland': 30.56,
 'Japan': 30.23,
 'Wales': 29.17,
 'Qatar': 28.57,
 'Morocco': 28.33,
 'Tunisia': 26.67,
 'Poland': 25.0,
 'Canada': 17.65}

### **üéØ Q2: Team Appearances & Ranking in FIFA World Cup 2022**  

Determine the **number of times** each team played in the **FIFA World Cup 2022** and assign **rankings** accordingly.  

1. **Instructions:**  
   1. Identify all unique teams that participated in the tournament.  
   2. Count the **total number of matches played** by each team.  
   3. Assign **ranks** to teams based on their number of matches played.  
   4. Use the `DataFrame.rank()` method to **rank teams**.  
      - By default, it uses `method="average"` (which may produce decimal values).  
      - Use `method="first"` to get **integer ranks**.  
   5. Display the results as a **table or dictionary**, showing:  
      - **Team Name**  
      - **Total Matches Played**  
      - **Rank**  

2. **Expected Output Format:** (DUMMY) 
    | Team              | Matches Played | Rank |
    |------------------|---------------|------|
    | Argentina        | 7             | 1    |
    | France          | 7             | 2    |
    | Croatia         | 7             | 3    |
    | Morocco         | 7             | 4    |
    | ...            | ...           | ...  |

In [72]:
# Solution - Question 02

team_match_count = fifa_df['Team'].value_counts() + fifa_df['Against'].value_counts()
team_match_count.fillna(
    value = 1,
    inplace = True
)
team_match_count.sort_values(
    ascending = False,
    inplace = True
)
team_rank = team_match_count.rank(
    method = 'first',
    ascending = False
)
team_rank_df = pd.DataFrame(
    data = {
        'Team' : team_match_count.index,
        'Match Count' : team_match_count,
        'Rank' : team_rank
    },
).reset_index(drop=True)

team_rank_df

              Team  Match Count  Rank
0        Argentina         14.0   1.0
1          Croatia         14.0   2.0
2          Morocco         14.0   3.0
3           France         13.0   4.0
4           Brazil         10.0   5.0
5         Portugal         10.0   6.0
6          England         10.0   7.0
7      Netherlands         10.0   8.0
8        Australia          8.0   9.0
9    United States          8.0  10.0
10     Switzerland          8.0  11.0
11           Spain          8.0  12.0
12         Senegal          8.0  13.0
13          Poland          8.0  14.0
14  Korea Republic          8.0  15.0
15           Japan          8.0  16.0
16            Iran          6.0  17.0
17      Costa Rica          6.0  18.0
18         Uruguay          6.0  19.0
19         Belgium          6.0  20.0
20         Tunisia          6.0  21.0
21        Cameroon          6.0  22.0
22          Canada          6.0  23.0
23          Serbia          6.0  24.0
24    Saudi Arabia          6.0  25.0
25           Ghana          6.0  26.0
26           Qatar          6.0  27.0
27         Denmark          6.0  28.0
28         Ecuador          6.0  29.0
29         Germany          6.0  30.0
30          Mexico          6.0  31.0
31           Wales          6.0  32.0
32            Fram          1.0  33.0

### **üéØ Q3: FIFA World Cup Dataset Analysis & Cleaning**  

Perform the following operations on the **FIFA World Cup dataset**:  

1. **Tasks to Complete:**  

    1Ô∏è‚É£ **Dataset Information:**  
    - Display **general information** about the dataset, including column names, data types, and non-null counts.  

    2Ô∏è‚É£ **Dataset Description:**  
    - Provide **statistical summaries** (such as mean, min, max, std) for numerical columns.  

    3Ô∏è‚É£ **Handling Missing Values:**  
    - Identify **missing values** in the dataset.  
    - If any missing values exist, **replace them** with the **average value** of the respective column.  

    4Ô∏è‚É£ **Removing Duplicate Rows:**  
    - Check for **duplicate rows** and remove them **permanently**.  

    5Ô∏è‚É£ **Dropping Unnecessary Columns:**  
    - **Permanently** drop the following columns:  
        - `"Sl No"`  
        - `"Match No."`  
        - `"Red Cards"`  
        - `"Pts"`  

2. **Expected Output Format:**  
   - Print dataset **info()** and **describe()**.  
   - Display **missing values before and after filling**.  
   - Print the number of **duplicate rows removed**.  
   - Show the **final dataframe structure** after column removal.

In [73]:
# Solution - Question 03

fifa_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 38 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Sl. No                           128 non-null    int64
 1   Match No.                        128 non-null    int64
 2   Team                             128 non-null    object
 3   Against                          128 non-null    object
 4   Group                            128 non-null    object
 5   Goal                             128 non-null    int64
 6   Possession (%)                   128 non-null    int64
 7   Inside Penalty Area              128 non-null    int64
 8   Outside Penalty Area             128 non-null    int64
 9   Assists                          128 non-null    int64
 10  Total Attempts                   128 non-null    int64
 11  On Target                        128 non-null    int64
 12  Off Target                       128 non-null    int64
 13  Target in Penalty                128 non-null    int64
 14  Target from Outside              128 non-null    int64
 15  Left Channel                     128 non-null    int64
 16  Left Inside Channel              128 non-null    int64
 17  Central Channel                  128 non-null    int64
 18  Right Inside Channel             128 non-null    int64
 19  Right Channel                    128 non-null    int64
 20  Receptions MD                    128 non-null    int64
 21  Receptions D                     128 non-null    int64
 22  Attempted Line Breaks            128 non-null    int64
 23  Completed Line Breaks            128 non-null    int64
 24  Attempted Defensive Line Breaks  128 non-null    int64
 25  Completed Defensive Line Breaks  128 non-null    int64
 26  Yellow Cards                     128 non-null    int64
 27  Red Cards                        128 non-null    int64
 28  Fouls Against                    128 non-null    int64
 29  Offsides                         128 non-null    int64
 30  Passes                           128 non-null    int64
 31  Passes Completed                 128 non-null    int64
 32  Crosses                          128 non-null    int64
 33  Crosses Completed                128 non-null    int64
 34  Corners                          128 non-null    int64
 35  Free Kicks                       128 non-null    int64
 36  Penalties Scored                 128 non-null    int64
 37  Pts                              128 non-null    int64
dtypes: int64(35), object(3)
memory usage: 38.1+ KB

In [74]:
fifa_df.describe()

,Sl. No,Match No.,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Red Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
count,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000
mean,64.500000,32.500000,1.343750,43.476562,1.203125,0.117188,0.914062,11.257812,4.007812,4.835938,6.914062,4.343750,13.562500,4.671875,4.906250,4.648438,12.234375,92.703125,12.453125,169.281250,109.476562,14.812500,8.265625,1.726562,0.023438,12.320312,1.976562,502.859375,430.929688,19.523438,4.898438,4.468750,14.250000,0.335938,1.429688
std,37.094474,18.545539,1.342448,11.442403,1.324270,0.322907,1.150333,5.406683,2.588576,2.610630,3.998085,2.733397,6.901729,2.886595,3.080131,2.936573,6.176517,29.440547,18.152399,34.120661,30.776298,7.230458,5.101311,1.514834,0.151883,4.691983,1.731891,160.160487,160.893724,8.596799,3.520111,2.774852,4.712189,0.941412,1.389973
min,1.000000,1.000000,0.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,1.000000,32.000000,0.000000,56.000000,19.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,225.000000,156.000000,4.000000,0.000000,0.000000,5.000000,0.000000,0.000000
25%,32.750000,16.750000,0.000000,35.000000,0.000000,0.000000,0.000000,7.750000,2.000000,3.000000,4.000000,3.000000,8.000000,2.000000,3.000000,3.000000,8.000000,72.750000,7.000000,149.500000,87.750000,10.000000,5.000000,1.000000,0.000000,9.000000,1.000000,398.250000,323.250000,13.000000,3.000000,2.000000,11.000000,0.000000,0.000000
50%,64.500000,32.500000,1.000000,45.000000,1.000000,0.000000,1.000000,10.000000,4.000000,4.000000,6.000000,4.000000,12.000000,4.500000,4.000000,4.000000,11.000000,93.000000,9.000000,170.500000,106.000000,15.000000,8.000000,2.000000,0.000000,12.000000,2.000000,495.500000,419.000000,19.000000,4.000000,4.000000,14.000000,0.000000,1.000000
75%,96.250000,48.250000,2.000000,51.000000,2.000000,0.000000,1.000000,14.000000,6.000000,6.000000,9.000000,5.000000,18.000000,7.000000,6.250000,6.000000,16.250000,111.250000,14.000000,188.000000,129.000000,20.000000,11.000000,2.000000,0.000000,15.000000,3.000000,589.500000,519.750000,24.000000,6.000000,6.000000,17.000000,0.000000,3.000000
max,128.000000,64.000000,7.000000,78.000000,7.000000,1.000000,6.000000,32.000000,13.000000,17.000000,24.000000,15.000000,36.000000,13.000000,16.000000,19.000000,29.000000,186.000000,192.000000,259.000000,192.000000,40.000000,27.000000,8.000000,1.000000,30.000000,10.000000,1070.000000,994.000000,53.000000,25.000000,14.000000,30.000000,5.000000,3.000000

In [76]:
fifa_df.isnull().sum()

Sl. No                             0
Match No.                          0
Team                               0
Against                            0
Group                              0
Goal                               0
Possession (%)                     0
Inside Penalty Area                0
Outside Penalty Area               0
Assists                            0
Total Attempts                     0
On Target                          0
Off Target                         0
Target in Penalty                  0
Target from Outside                0
Left Channel                       0
Left Inside Channel                0
Central Channel                    0
Right Inside Channel               0
Right Channel                      0
Receptions MD                      0
Receptions D                       0
Attempted Line Breaks              0
Completed Line Breaks              0
Attempted Defensive Line Breaks    0
Completed Defensive Line Breaks    0
Yellow Cards                       0
Red Cards                          0
Fouls Against                      0
Offsides                           0
Passes                             0
Passes Completed                   0
Crosses                            0
Crosses Completed                  0
Corners                            0
Free Kicks                         0
Penalties Scored                   0
Pts                                0
dtype: int64

In [78]:
fifa_df.duplicated().sum()

0

In [81]:
fifa_df.drop(
    columns = ['Sl. No', 'Match No.', 'Red Cards', 'Pts'],
    inplace = True
)
fifa_df.columns

Index(['Team', 'Against', 'Group', 'Goal', 'Possession (%)',
       'Inside Penalty Area', 'Outside Penalty Area', 'Assists',
       'Total Attempts', 'On Target', 'Off Target', 'Target in Penalty',
       'Target from Outside', 'Left Channel', 'Left Inside Channel',
       'Central Channel', 'Right Inside Channel', 'Right Channel',
       'Receptions MD', 'Receptions D', 'Attempted Line Breaks',
       'Completed Line Breaks', 'Attempted Defensive Line Breaks',
       'Completed Defensive Line Breaks', 'Yellow Cards', 'Fouls Against',
       'Offsides', 'Passes', 'Passes Completed', 'Crosses',
       'Crosses Completed', 'Corners', 'Free Kicks', 'Penalties Scored'],
      dtype='object')

### **üéØ Q4: Ranking Teams in FIFA World Cup Dataset**  

Perform the following operations on the **FIFA World Cup dataset**:  

1. **Tasks to Complete:**  

    1Ô∏è‚É£ **Rank Teams:**  
    - Compute the **rank** of each team based on the `"Team"` column.  
    - Save this result in a **new column** named `"Rank"`.  

    2Ô∏è‚É£ **Change Data Type:**  
    - Convert the `"Rank"` column to **integer** using `np.int16`.  

    3Ô∏è‚É£ **Set Index:**  
    - **Permanently** set the `"Rank"` column as the **index** of the DataFrame.  

    4Ô∏è‚É£ **Sort DataFrame:**  
    - Sort the **DataFrame** based on the **"Rank" index**.  

2. **Expected Output Format:**  
   - Display **updated DataFrame** after ranking and sorting.  
   - Print **data types** to confirm `"Rank"` is converted correctly.  
   - Show the **final DataFrame structure** with `"Rank"` as the index.

In [85]:
# Solution - Question 04

fifa_df['Rank'] = fifa_df['Team'].rank(method='first')

fifa_df['Rank'] = fifa_df['Rank'].astype(np.int16)

fifa_df.set_index(
    keys = 'Rank',
    inplace = True
)

fifa_df.sort_index()

,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored
Rank,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,Argentina,Saudi Arabia,C,1,51,1,0,0,14,6,6,10,4,12,4,5,8,18,91,27,195,127,10,8,0,7,10,593,525,36,15,9,21,1
2,Argentina,Mexico,C,2,50,1,1,2,5,2,3,2,3,10,6,2,4,12,89,2,150,100,10,5,1,15,2,533,464,14,2,4,23,0
3,Argentina,Poland,C,2,67,1,1,2,25,13,8,10,15,25,8,7,10,26,150,36,141,126,20,16,1,11,0,862,814,22,5,9,5,0
4,Argentina,Australia,C,2,53,2,0,1,14,5,7,11,3,15,6,11,2,17,127,8,181,135,16,8,0,8,4,711,635,6,1,1,15,0
5,Argentina,Netherlands,C,2,44,2,0,1,15,6,8,5,10,7,7,13,6,17,104,7,203,122,24,8,8,18,2,603,511,16,4,8,30,5
6,Argentina,Croatia,C,3,34,3,0,1,10,7,2,7,3,8,9,7,3,2,121,7,147,91,17,7,2,15,1,408,344,8,2,2,6,1
7,Argentina,France,C,3,46,3,0,1,21,9,9,13,8,13,6,8,9,9,163,28,249,172,40,24,4,26,4,648,544,20,4,6,22,5
8,Australia,France,D,1,35,1,0,1,4,1,3,2,2,11,2,5,1,9,66,7,133,84,15,7,3,11,0,466,399,9,2,1,5,0
9,Australia,Tunisia,D,1,31,1,0,1,8,2,3,5,3,11,3,4,7,19,111,8,171,91,19,10,0,15,0,334,239,23,4,2,19,0
10,Australia,Denmark,D,1,24,1,0,1,8,4,2,3,5,9,2,2,1,11,93,8,166,81,17,7,2,11,1,286,187,11,2,2,13,0
11,Australia,Argentina,D,1,35,0,0,0,5,2,2,3,2,8,1,2,6,9,60,8,146,92,12,7,2,15,0,450,381,15,2,3,11,0
12,Belgium,Canada,F,1,46,1,0,1,9,3,6,6,3,6,3,5,2,6,93,8,175,118,13,6,3,11,0,512,439,8,5,4,15,0
13,Belgium,Morocco,F,0,55,0,0,0,10,4,4,5,5,12,8,3,4,9,91,3,167,123,8,3,1,10,3,685,617,24,5,9,17,0
14,Belgium,Croatia,F,0,46,0,0,0,15,4,7,12,3,18,5,7,4,9,86,11,195,123,9,6,1,9,0,624,557,27,7,4,11,0
15,Brazil,Serbia,G,2,53,2,0,1,24,10,9,11,13,14,9,10,7,20,125,11,184,134,16,10,0,7,1,585,526,19,3,6,12,0
16,Brazil,Switzerland,G,1,51,1,0,1,9,5,2,6,3,19,12,5,5,11,99,16,164,114,20,11,1,10,3,565,498,26,3,8,18,0
17,Brazil,Cameroon,G,0,56,0,0,0,19,6,11,14,5,20,5,6,7,13,156,9,181,145,15,9,2,14,1,548,491,28,8,11,14,0
18,Brazil,Korea Republic,G,4,47,4,0,3,18,9,8,14,4,20,5,5,7,15,112,17,193,145,21,17,0,8,0,616,556,18,4,5,16,1
19,Brazil,Croatia,G,1,45,1,0,1,20,11,4,12,8,25,10,15,8,20,111,11,185,121,19,10,3,24,3,695,625,25,6,7,25,2
20,Cameroon,Switzerland,G,0,46,0,0,0,7,3,2,6,1,9,12,3,5,18,103,5,182,103,16,4,1,10,2,500,424,20,4,5,14,0
21,Cameroon,Serbia,G,3,38,3,0,3,13,8,3,9,4,5,3,5,4,15,80,15,173,78,22,12,2,8,0,364,271,20,1,4,17,0
22,Cameroon,Brazil,G,1,31,1,0,1,7,3,3,5,2,8,8,4,4,9,73,9,144,92,16,7,5,14,0,295,239,12,3,3,15,0
23,Canada,Belgium,F,0,43,0,0,0,21,4,12,16,5,17,6,8,5,20,117,15,176,123,23,13,2,14,1,448,382,19,6,4,10,0
24,Canada,Croatia,F,1,45,1,0,1,8,2,3,1,7,8,4,3,4,13,46,5,102,70,2,1,2,5,3,514,440,18,5,2,14,0
25,Canada,Morocco,F,1,45,0,0,0,5,0,4,4,1,22,4,2,6,11,75,9,152,89,9,6,4,14,4,536,476,24,6,6,18,0
26,Costa Rica,Spain,E,0,18,0,0,0,0,0,0,0,0,5,0,1,0,1,32,0,86,47,3,0,2,12,7,231,166,9,3,0,11,0
27,Costa Rica,Japan,E,1,38,1,0,1,4,1,1,1,3,8,0,3,1,4,53,0,153,85,3,1,3,9,2,454,376,5,0,0,22,0
28,Costa Rica,Germany,E,2,26,1,0,0,7,5,1,5,2,7,5,3,1,1,118,10,154,103,13,7,1,3,4,347,269,12,3,1,12,0
29,Croatia,Morocco,F,0,53,0,0,0,7,2,2,5,2,12,3,6,5,7,84,9,192,129,8,2,0,11,1,670,601,23,3,5,17,0
30,Croatia,Canada,F,4,39,3,1,4,13,10,3,9,4,7,3,3,3,3,43,8,97,55,7,2,2,13,1,461,390,31,8,5,8,0
31,Croatia,Belgium,F,0,46,0,0,0,11,4,6,7,4,23,7,3,2,12,120,17,226,178,14,8,0,7,4,589,519,28,7,2,9,0
32,Croatia,Japan,F,1,50,1,0,1,17,4,6,10,7,18,7,9,6,28,112,16,259,153,12,8,2,16,0,724,633,53,25,5,16,3
33,Croatia,Brazil,F,1,45,1,0,1,9,1,4,5,4,19,4,2,5,27,131,10,240,180,16,10,2,22,3,715,632,22,5,3,27,4
34,Croatia,Argentina,F,0,54,0,0,0,12,3,7,6,6,18,6,7,4,8,108,3,182,129,9,1,2,8,0,624,551,20,4,4,16,0
35,Croatia,Morocco,F,2,45,2,0,2,14,4,8,7,7,20,8,3,2,7,106,15,164,114,23,12,0,13,2,491,430,21,3,6,13,0
36,Denmark,Tunisia,D,0,50,0,0,0,12,6,4,7,5,17,4,7,6,18,108,12,207,147,9,6,2,9,1,602,532,34,15,11,11,0
37,Denmark,France,D,1,44,1,0,1,10,2,6,5,5,13,5,3,4,25,105,17,173,132,23,15,2,9,1,537,473,18,4,4,5,0
38,Denmark,Australia,D,0,60,0,0,0,14,3,7,11,3,27,5,4,6,19,130,17,241,172,21,17,1,10,3,650,567,32,5,6,12,0
39,Ecuador,Qatar,A,2,46,2,0,1,5,5,2,4,1,8,7,6,4,6,55,10,159,103,6,4,2,15,4,484,419,26,10,3,17,1
40,Ecuador,Netherlands,A,1,36,1,0,0,14,4,5,9,5,10,5,2,5,4,77,8,177,96,13,7,1,12,4,429,353,26,8,5,16,0
41,Ecuador,Senegal,A,1,46,1,0,1,8,4,2,5,3,13,3,1,6,6,67,1,143,77,3,1,0,23,0,448,369,20,6,3,14,0
42,England,Iran,B,6,69,6,0,6,13,7,3,10,3,11,5,2,3,11,72,15,133,94,8,6,0,9,2,810,733,29,9,8,16,0
43,England,United States,B,0,51,0,0,0,8,3,4,6,2,11,2,7,5,11,102,10,208,147,23,10,0,9,1,550,488,13,4,3,15,0
44,England,Wales,B,3,58,2,1,2,17,7,6,13,4,10,4,7,12,9,97,9,167,131,13,8,0,9,1,588,529,17,7,6,17,0
45,England,Senegal,B,3,54,3,0,3,8,4,4,7,1,17,6,2,2,13,114,11,184,129,16,12,0,16,0,597,523,19,7,3,12,0
46,England,France,B,1,54,1,0,0,14,6,4,6,8,17,6,4,2,10,88,8,147,108,13,10,1,10,1,508,453,22,5,5,14,1
47,France,Australia,D,4,56,4,0,4,22,7,9,18,4,30,6,3,8,19,106,26,173,135,32,27,0,5,0,734,672,34,17,8,11,0
48,France,Denmark,D,2,44,2,0,2,21,6,8,16,5,15,7,4,1,13,105,11,155,105,16,12,1,4,1,503,437,23,12,6,10,0
49,France,Tunisia,D,0,56,0,0,0,9,3,4,4,5,14,6,5,3,21,101,11,138,99,10,4,0,6,2,636,566,20,5,8,17,0
50,France,Poland,D,3,48,3,0,3,16,7,7,10,6,15,7,2,9,19,113,14,174,111,26,14,1,10,3,540,481,27,4,7,8,0
51,France,England,D,2,36,1,1,2,9,5,3,6,3,15,2,7,2,13,79,7,136,87,14,8,3,14,2,369,310,13,6,2,11,0
52,France,Morocco,D,2,34,2,0,0,14,2,8,12,2,9,6,3,2,6,67,8,126,85,12,8,0,11,4,358,307,5,2,2,13,0
53,France,Argentina,D,3,40,3,0,1,10,5,3,7,3,15,7,5,4,12,69,9,179,107,14,9,3,19,4,516,419,24,3,5,28,4
54,Germany,Japan,E,1,65,1,0,0,25,8,10,15,10,24,9,14,5,21,145,192,256,192,14,11,0,6,4,827,753,32,9,6,17,1
55,Germany,Spain,E,1,33,1,0,1,10,4,5,7,3,3,3,4,3,8,95,9,143,83,17,7,3,11,5,352,281,13,1,5,15,0
56,Germany,Costa Rica,E,4,61,4,0,4,32,11,17,24,8,29,13,13,12,15,167,28,193,159,34,25,0,9,3,727,661,38,12,14,7,0
57,Ghana,Portugal,H,2,33,2,0,0,8,3,4,2,6,7,9,6,3,3,60,3,157,90,4,1,4,19,1,400,343,12,1,3,15,0
58,Ghana,Korea Republic,H,3,32,3,0,2,8,3,3,7,1,8,3,4,3,7,56,5,122,66,12,5,2,9,1,319,260,13,4,5,14,0
59,Ghana,Uruguay,H,0,46,0,0,0,9,4,4,4,5,12,5,8,4,12,93,8,188,111,13,5,2,18,2,460,377,20,2,5,12,0
60,Iran,England,B,2,20,2,0,1,8,3,4,6,2,3,0,3,1,1,34,1,56,19,1,1,2,14,2,232,156,11,3,0,10,1
61,Iran,Wales,B,2,33,1,1,1,21,6,6,7,14,7,3,7,4,7,103,9,185,92,24,10,2,10,2,295,202,26,4,7,11,0
62,Iran,United States,B,0,42,0,0,0,6,2,4,5,1,12,2,5,3,4,77,9,195,102,23,8,3,13,2,463,379,18,3,1,11,0
63,Japan,Germany,E,2,24,2,0,1,11,3,4,11,0,5,0,3,3,11,43,79,136,79,10,8,0,14,4,279,214,15,7,6,10,0
64,Japan,Costa Rica,E,0,47,0,0,0,14,3,5,7,7,28,6,9,3,10,90,4,166,102,7,5,3,22,0,591,522,15,1,5,11,0
65,Japan,Spain,E,2,14,1,1,2,6,3,2,4,2,2,3,1,2,5,50,10,104,57,14,8,3,9,2,225,167,6,3,0,8,0
66,Japan,Croatia,E,1,36,1,0,1,12,4,4,5,7,14,6,6,6,18,87,8,253,137,7,3,0,13,3,545,430,31,6,8,16,1
67,Korea Republic,Uruguay,H,0,38,0,0,0,6,0,5,1,5,15,0,4,4,19,91,8,185,96,17,8,1,10,0,419,340,19,3,3,8,0
68,Korea Republic,Ghana,H,2,53,2,0,2,21,6,8,15,6,22,5,6,8,27,119,19,201,148,24,19,2,13,1,540,477,46,16,12,10,0
69,Korea Republic,Portugal,H,2,34,2,0,0,12,6,4,6,6,9,7,5,2,7,68,8,139,87,11,6,2,9,1,359,304,13,3,5,15,0
70,Korea Republic,Brazil,H,1,44,0,1,0,10,6,2,6,4,19,4,3,5,21,126,15,188,137,20,14,1,13,5,548,486,14,1,4,8,0
71,Mexico,Poland,C,0,49,0,0,0,14,4,7,9,5,20,6,1,3,27,70,16,197,125,10,5,2,14,3,500,426,33,6,6,16,0
72,Mexico,Argentina,C,0,36,0,0,0,4,1,2,1,3,8,1,1,2,11,52,5,127,66,13,5,4,19,4,356,287,17,4,2,17,0
73,Mexico,Saudi Arabia,C,2,55,1,1,1,25,10,8,10,15,16,5,3,7,16,119,17,198,121,33,16,1,18,6,412,336,34,6,8,22,0
74,Morocco,Croatia,F,0,30,0,0,0,7,2,0,3,4,8,1,6,0,11,47,4,154,85,4,1,1,17,0,365,296,13,2,0,12,0
75,Morocco,Belgium,F,2,32,1,1,1,11,4,7,5,6,10,3,2,1,11,51,6,139,87,5,2,1,14,3,336,290,9,4,1,13,0
76,Morocco,Canada,F,2,36,1,1,1,7,2,3,4,3,6,0,3,4,5,52,7,157,82,8,2,0,14,4,391,315,9,1,2,18,0
77,Morocco,Spain,F,0,20,0,0,0,6,3,3,3,3,11,1,0,2,8,66,10,155,86,3,3,1,15,5,331,235,11,4,0,18,3
78,Morocco,Portugal,F,1,22,1,0,1,9,3,6,5,4,4,1,4,1,3,48,6,128,63,13,3,3,15,2,229,171,8,3,3,11,0
79,Morocco,Fram,F,0,55,0,0,0,13,1,6,8,5,10,4,6,6,19,74,15,141,95,18,11,1,11,3,583,518,22,1,3,15,0
80,Morocco,Croatia,F,1,45,1,0,0,7,2,5,5,2,13,1,3,7,16,75,10,150,97,14,8,2,11,2,494,428,20,5,3,15,0
81,Netherlands,Senegal,A,2,41,2,0,1,10,3,4,6,4,11,2,2,7,20,86,10,168,108,10,7,2,13,1,457,386,26,7,7,15,0
82,Netherlands,Ecuador,A,1,46,0,1,1,2,1,1,0,2,8,8,2,4,11,78,7,174,117,1,1,0,15,1,530,454,11,0,2,16,0
83,Netherlands,Qatar,A,2,53,2,0,1,12,4,6,9,3,25,9,8,11,21,115,14,198,173,8,7,1,5,5,786,738,15,4,4,9,0
84,Netherlands,United States,A,3,35,3,0,3,12,6,5,8,4,4,2,4,7,10,84,7,184,115,14,7,2,10,0,403,331,15,5,4,8,0
85,Netherlands,Argentina,A,2,45,2,0,2,5,2,2,3,2,11,7,9,3,15,112,5,194,130,15,6,4,30,1,651,557,22,4,2,20,3
86,Poland,Mexico,C,0,32,0,0,0,9,2,4,8,1,8,6,6,4,13,68,5,148,73,4,2,1,16,0,330,244,12,2,5,16,0
87,Poland,Saudi Arabia,C,2,30,2,0,1,8,3,3,8,0,7,2,4,8,13,95,14,150,84,22,12,3,18,0,303,236,19,8,4,15,0
88,Poland,Argentina,C,0,24,0,0,0,4,0,2,1,3,6,2,1,2,3,46,3,79,44,4,0,1,6,0,321,261,5,2,1,12,0
89,Poland,France,C,1,42,1,0,0,11,3,5,8,3,15,2,2,3,10,85,11,156,97,20,12,2,8,1,466,391,18,7,1,11,1
90,Portugal,Ghana,H,3,53,3,0,2,11,5,3,7,4,24,6,7,4,10,109,17,197,150,16,11,2,14,1,630,575,20,5,3,19,1
91,Portugal,Uruguay,H,2,53,1,1,0,14,4,7,4,10,17,9,4,9,11,127,11,170,112,11,7,3,10,2,596,517,16,4,6,15,1
92,Portugal,Korea Republic,H,1,55,1,0,1,12,4,6,5,7,23,7,5,8,12,109,12,178,123,21,12,0,11,5,606,541,22,6,4,10,0
93,Portugal,Switzerland,H,6,43,6,0,5,14,9,2,9,5,8,3,6,6,8,86,9,165,98,16,8,0,12,3,461,392,14,6,6,13,0
94,Portugal,Morocco,H,0,65,0,0,0,11,3,6,7,4,27,10,8,7,20,104,19,167,118,23,18,1,9,2,678,592,33,7,9,17,0
95,Qatar,Ecuador,A,0,40,0,0,0,5,0,5,2,3,15,0,3,1,9,45,5,159,100,6,4,4,15,3,453,387,10,5,1,19,0
96,Qatar,Senegal,A,1,42,1,0,1,10,2,7,4,6,7,5,2,5,11,79,9,174,117,13,7,3,7,4,424,353,18,5,6,15,0
97,Qatar,Netherlands,A,0,36,0,0,0,6,4,2,2,4,10,7,5,4,6,86,6,163,116,7,5,0,0,0,457,394,18,4,2,24,0
98,Saudi Arabia,Argentina,C,2,24,2,0,1,3,2,0,3,0,3,2,3,3,8,65,7,147,73,11,4,6,21,1,267,194,12,4,2,17,0
99,Saudi Arabia,Poland,C,0,57,0,0,0,16,5,9,9,7,21,6,5,7,15,119,22,205,153,27,19,2,15,0,560,494,24,4,5,17,0
100,Saudi Arabia,Mexico,C,1,29,1,0,1,10,2,8,6,4,5,3,4,3,11,95,6,178,86,17,5,6,20,2,297,197,9,2,1,23,0
101,Senegal,Netherlands,A,0,39,0,0,0,15,4,7,8,7,12,4,2,4,13,101,12,143,86,6,6,2,13,2,391,326,22,8,6,14,0
102,Senegal,Qatar,A,3,48,3,0,2,12,4,6,10,2,26,4,6,4,18,95,12,184,113,19,9,3,12,3,511,445,20,6,7,11,0
103,Senegal,Ecuador,A,2,32,2,0,0,15,6,5,11,4,14,0,2,7,10,65,8,159,80,12,8,1,11,3,277,200,21,7,6,22,1
104,Senegal,England,A,0,35,0,0,0,10,2,6,4,6,8,1,0,4,9,67,7,159,86,15,7,1,12,0,393,320,13,3,3,16,0
105,Serbia,Brazil,G,0,34,0,0,0,4,0,3,1,3,10,3,4,3,7,69,4,140,91,15,6,3,12,0,403,341,13,3,4,8,0
106,Serbia,Cameroon,G,3,49,2,1,3,16,6,8,11,5,20,4,16,5,12,140,11,184,122,22,12,2,13,4,513,433,23,4,3,8,0
107,Serbia,Switzerland,G,2,45,2,0,1,11,4,6,10,1,17,6,4,4,10,86,7,157,95,10,5,7,18,0,476,390,23,6,2,14,0
108,Spain,Costa Rica,E,7,71,7,0,3,17,7,8,13,4,30,4,8,6,12,143,17,219,177,17,10,0,8,3,1056,994,26,7,5,18,1
109,Spain,Germany,E,1,56,1,0,1,7,3,4,3,4,12,3,2,1,5,115,16,186,146,19,13,1,13,2,647,565,9,2,6,16,0
110,Spain,Japan,E,1,78,1,0,1,14,5,3,7,7,30,9,6,11,22,151,17,190,140,21,15,0,6,2,1070,992,20,2,2,11,0
111,Spain,Morocco,E,0,63,0,0,0,14,2,6,9,5,36,10,8,19,29,136,27,237,164,15,13,1,14,4,1050,975,29,5,8,20,0
112,Switzerland,Cameroon,G,1,43,1,0,1,8,3,4,6,2,19,2,11,6,16,112,13,178,123,21,13,2,12,2,497,437,28,6,11,11,0
113,Switzerland,Brazil,G,0,40,0,0,0,4,0,1,2,2,7,3,4,6,10,86,4,173,100,17,4,1,17,1,488,414,11,3,3,13,0
114,Switzerland,Serbia,G,3,41,3,0,3,14,7,3,10,4,14,7,3,1,12,111,10,157,95,20,8,4,13,0,403,325,13,4,0,18,0
115,Switzerland,Portugal,G,1,48,1,0,0,10,1,7,5,5,18,2,6,2,8,94,8,167,107,17,7,2,10,3,512,436,15,1,6,15,0
116,Tunisia,Denmark,D,0,36,0,0,0,12,1,5,7,5,9,2,2,3,6,76,6,188,98,3,2,1,10,1,406,324,15,4,9,10,0
117,Tunisia,Australia,D,0,50,0,0,0,13,4,5,9,4,12,8,7,6,11,89,13,200,109,23,11,3,16,3,501,396,23,5,5,15,0
118,Tunisia,France,D,1,30,0,1,1,5,3,2,2,3,11,3,4,0,10,95,9,153,96,21,7,1,14,3,328,266,27,4,7,8,0
119,United States,Wales,B,1,51,1,0,1,6,1,4,4,2,14,5,4,4,11,101,12,199,146,23,15,4,15,1,569,509,31,4,5,11,0
120,United States,England,B,0,40,0,0,0,10,2,7,6,4,12,0,1,6,8,74,6,143,88,15,5,0,15,0,427,368,16,2,7,10,0
121,United States,Iran,B,1,45,1,0,1,12,5,4,8,4,11,7,7,5,17,117,17,185,133,27,16,1,10,1,470,413,22,2,5,15,0
122,United States,Netherlands,B,1,52,1,0,1,17,6,5,11,6,13,8,4,9,15,107,19,204,145,15,12,0,5,3,572,499,40,9,5,10,0
123,Uruguay,Korea Republic,H,0,49,0,0,0,10,0,6,7,3,13,4,4,6,14,81,4,146,88,16,7,1,7,1,528,459,16,4,4,10,0
124,Uruguay,Portugal,H,0,35,0,0,0,10,3,6,6,4,13,8,4,5,9,94,6,150,86,17,11,2,16,0,390,306,18,5,2,13,0
125,Uruguay,Ghana,H,2,39,2,0,1,12,7,5,7,5,7,2,13,3,17,186,14,186,124,24,14,3,11,2,446,361,15,4,2,20,0
126,Wales,United States,B,1,39,1,0,0,7,3,3,5,2,7,2,5,2,7,73,9,174,103,17,8,2,10,1,409,321,15,6,3,15,1
127,Wales,Iran,B,0,51,0,0,0,10,3,4,5,5,18,3,8,11,13,101,13,208,129,17,8,1,9,2,508,413,20,5,2,12,0
128,Wales,England,B,0,33,0,0,0,7,1,3,1,6,7,1,2,0,4,46,1,104,55,4,1,2,16,1,325,261,4,1,1,10,0

### ‚ö†Ô∏è **Data Warning**
For the questions forward, we are going to use TITANIC DataSet, which is in the [Resources](../Resources/) folder.

TITANIC Dataset : In the [Resources](../Resources/) folder.

#### **Reading Data into DataFrame**

In [88]:
titanic_train_df = pd.read_csv(
    filepath_or_buffer = '../Resources/Data/titanic_train_dataset.csv'
)

In [90]:
titanic_train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [89]:
titanic_test_df = pd.read_csv(
    filepath_or_buffer = '../Resources/Data/titanic_test_dataset.csv'
)

In [91]:
titanic_test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

### **üéØ Q5: Handling Missing Values in Titanic Datasets**  

Perform the following operations on the **Titanic datasets**:  

1. **Tasks to Complete:**  

    1Ô∏è‚É£ **For `titanic_train_dataset`**  
    - **Drop** all rows where the `"Age"` column has **missing values**.  
    - Ensure the **changes are permanent**.  

    2Ô∏è‚É£ **For `titanic_test_dataset`**  
    - **Fill** missing values in the `"Age"` column with **20**.  
    - Ensure the **changes are permanent**.  

2. **Expected Output Format:**  
   - Print the **shape** of datasets **before and after** modifications.  
   - Display a **summary** to confirm missing values are handled.  
   - Show a **few rows** to verify the applied changes.

In [93]:
titanic_train_df['Age'].isna().sum()

177

In [94]:
titanic_train_df.shape

(891, 12)

In [95]:
titanic_train_df.dropna(
    subset = 'Age',
    inplace = True
)

In [96]:
titanic_train_df['Age'].isna().sum()

0

In [97]:
titanic_train_df.shape

(714, 12)

In [98]:
titanic_test_df['Age'].isna().sum()

86

In [102]:
titanic_test_df.shape

(418, 11)

In [100]:
titanic_test_df.fillna(
    value = 20,
    inplace = True
)

In [103]:
titanic_test_df.shape

(418, 11)

In [101]:
titanic_test_df['Age'].isna().sum()

0

### ‚ö†Ô∏è **Data Warning**
For the questions forward, we are going to use ipl_matches DataSet, which is in the [Resources](../Resources/) folder.

IPL Dataset : In the [Resources](../Resources/) folder.

#### **Reading Data into DataFrame**

In [104]:
ipl_df = pd.read_csv(
    filepath_or_buffer = '../Resources/Data/ipl-matches.csv'
)
ipl_df.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

### **üéØ Q6: IPL Team Performance Analysis**  

Create a **DataFrame** for each **IPL team** with the following details:  

1. **üìù Required Columns:**  
  1Ô∏è‚É£ **Team Name**  
  2Ô∏è‚É£ **Matches Played**  
  3Ô∏è‚É£ **Win %** *(Overall Winning Percentage)*  
  4Ô∏è‚É£ **Home Win %** *(Winning Percentage in Home Matches)*  
  5Ô∏è‚É£ **Away Win %** *(Winning Percentage in Away Matches)*  

2. **üìå Important Notes:**  
   - Replace **old team names** with their **new names** before performing any calculations:  
      ```
      Delhi Daredevils ‚Üí Delhi Capitals  
      Kings XI Punjab ‚Üí Punjab Kings  
      Rising Pune Supergiants ‚Üí Rising Pune Supergiant  
      ```
   - **Team1** represents the **Home Team**.  
   - Exclude matches that had **no result**.  
   - Sort the final **DataFrame** based on **Win %** in **descending order**.  

3. **‚úÖ Expected Output Format:**  
   - A **sorted DataFrame** showing each team's **performance statistics**.  
   - Display a **few rows** to verify correctness.

In [109]:
ipl_df.replace(
    to_replace = {
        'Delhi Daredevils' : 'Delhi Capitals',
        'Kings XI Punjab' : 'Punjab Kings',
        'Rising Pune Supergiants' : 'Rising Pune Supergiant'
    },
    inplace = True
)

In [145]:
all_teams = np.unique(
    np.append(
        ipl_df['Team1'].unique(),
        ipl_df['Team2'].unique()
    )
)
matches_df = ipl_df[~ipl_df.WinningTeam.isna()]

In [146]:
data = []
for team in all_teams:
    match_count = matches_df[(matches_df['Team1'] == team) | (matches_df['Team2'] == team)].shape[0]
    winning_count = matches_df[(matches_df['WinningTeam'] == team)].shape[0]
    winning_percentage = round((winning_count / match_count) * 100, 2)

    home_matches_count = matches_df[(matches_df['Team1'] == team)].shape[0]
    home_win_count = matches_df[(matches_df['Team1'] == team) & (matches_df['WinningTeam'] == team)].shape[0]
    home_winning_percentage = round((home_win_count / home_matches_count) * 100, 2)

    away_matches_count = matches_df[(matches_df['Team2'] == team)].shape[0]
    away_win_count = matches_df[(matches_df['Team2'] == team) & (matches_df['WinningTeam'] == team)].shape[0]
    away_winning_percentage = round((away_win_count / away_matches_count) * 100, 2)
    
    data.append(
        [
            team,
            match_count,
            winning_percentage,
            home_winning_percentage,
            away_winning_percentage
        ]
    )

team_performance_df = pd.DataFrame(
    data = data,
    columns = ['Team Name', 'Matches Played', 'Win %', 'Home Win %', 'Away Win %']
)

In [148]:
team_performance_df.sort_values(
    by = 'Win %',
    ascending = False
)

                      Team Name  Matches Played  Win %  Home Win %  Away Win %
4                Gujarat Titans              16  75.00       57.14       88.89
7          Lucknow Super Giants              15  60.00       87.50       28.57
0           Chennai Super Kings             208  58.17       58.56       57.73
8                Mumbai Indians             231  56.71       58.04       55.46
6         Kolkata Knight Riders             223  51.12       53.33       49.15
11             Rajasthan Royals             190  50.53       55.06       46.53
12       Rising Pune Supergiant              30  50.00       50.00       50.00
14          Sunrisers Hyderabad             152  49.34       52.17       46.99
13  Royal Challengers Bangalore             223  48.88       49.59       48.00
2                Delhi Capitals             222  46.40       46.90       45.87
10                 Punjab Kings             218  46.33       45.45       47.22
3                 Gujarat Lions              30  43.33       31.25       57.14
5          Kochi Tuskers Kerala              14  42.86       42.86       42.86
1               Deccan Chargers              75  38.67       33.33       44.44
9                 Pune Warriors              45  26.67       26.09       27.27

### **üéØ Q7: Venues with Most "No Result" Matches**  

Find out the **venues** where the highest number of **"No Result"** matches occurred in IPL history.  

1. **üìå Key Points:**  
   - A **"No Result"** match is a game that was abandoned or did not have a clear winner.  
   - Identify **venues** with the most such occurrences.  
   - Display the **top venues** sorted in **descending order** based on the number of "No Result" matches.  

2. **‚úÖ Expected Output Format:**  
   - A **sorted list or DataFrame** showing venues with their **count of "No Result" matches**.  
   - Display the **top results** to verify correctness.

In [157]:
ipl_df[ipl_df['WonBy'] == 'NoResults']['Venue'].value_counts()

Venue
M Chinnaswamy Stadium    2
M.Chinnaswamy Stadium    1
Feroz Shah Kotla         1
Name: count, dtype: int64

### **üéØ Q8: Player with Most Appearances in Final Matches**  

Find out the **player** who has appeared the most times in IPL **final matches**.  

1. **üìå Key Points:**  
   - The **final match** is the last match of each IPL season.  
   - Player names are stored in the **"Team1Players"** and **"Team2Players"** columns as a **single string** (not a list).  
   - Use **string manipulation techniques** (e.g., `split()` and `strip()`) to extract individual player names.  
   - Count **the number of times** each player appeared in a final match.  

2. **‚úÖ Expected Output Format:**  
   - Display the **player with the highest appearances in IPL finals** along with their **count**.  
   - Show the **top players** sorted in **descending order** based on appearances.

In [236]:
final_matches = ipl_df[ipl_df['MatchNumber'] == 'Final']

In [229]:
def extract_players(team_players):
    players = team_players.split(',')
    players = list(
        map(
            lambda x : x.strip('[]\' '),
            players
        )
    )
    return pd.Series(players)

In [244]:
players_series = pd.Series()
for team in final_matches.Team1Players:
    players_series = pd.concat(
        objs = [
            players_series,
            extract_players(team)
        ]
    )
for team in final_matches.Team2Players:
    players_series = pd.concat(
        objs = [
            players_series,
            extract_players(team)
        ]
    )

In [247]:
players_series.value_counts().head()

MS Dhoni     10
SK Raina      8
AT Rayudu     7
R Ashwin      7
DJ Bravo      7
Name: count, dtype: int64

### **üéØ Q9: IPL Points Table**  

Create a function **`point_table(season)`** that generates the **IPL Points Table** for a given season.  

1. **üìå Function Behavior:**  
   - The function takes **one parameter**:  
     ```python
     point_table(season: str)
     ```  
   - The `season` must be one of the following valid season names:  
     ```python
     ['2022', '2021', '2020/21', '2019', '2018', '2017', '2016', 
      '2015', '2014', '2013', '2012', '2011', '2009/10', '2009', '2007/08']
     ```
  
2. **‚úÖ Points System:**  
   - **Win** ‚Üí +2 Points  
   - **Loss** ‚Üí +0 Points  
   - **No Result** ‚Üí +1 Point per team  

3. **üìä Required DataFrame Structure:**  
    | **TeamName**        | **MatchesPlayed** | **MatchesWon** | **NoResult** | **Points** |
    |----------------------|------------------|---------------|------------|----------|
    | Gujarat Titans      | 16               | 12            | 0          | 24       |
    | Rajasthan Royals    | 17               | 10            | 0          | 20       |  

4. **üìå Sorting Criteria:**  
   1. **Sort by "Points" in descending order** (highest points first).  
   2. **If teams have the same points, sort by "TeamName" in ascending order** (A ‚Üí Z).  

5. **‚ö†Ô∏è Additional Notes:**  
   - **Exclude abandoned seasons** if any.  
   - **Make "TeamName" the index** in the DataFrame.  

üöÄ Call Example:  
```python
point_table('2022')
```

In [285]:
def point_table(season : str):
    season_matches = ipl_df[ipl_df.Season == season]
    all_teams = np.unique(
        np.append(
            season_matches['Team1'].unique(),
            season_matches['Team2'].unique()
        )
    )
    points_data = []
    for team in all_teams:
        matches_played = season_matches[(season_matches.Team1 == team) | (season_matches.Team2 == team)].shape[0]
        matches_won = season_matches[season_matches.WinningTeam == team].shape[0]
        no_result_matches = season_matches[
            season_matches.WinningTeam.isna() & 
            ((season_matches.Team1 == team) | (season_matches.Team2 == team))
            ].shape[0]
        team_points = (matches_won * 2) + (no_result_matches * 1)
        points_data.append(
            [
                team,
                matches_played,
                matches_won,
                no_result_matches,
                team_points
            ]
        )
    df = pd.DataFrame(
        data = points_data,
        columns = [
            'TeamName',
            'MatchesPlayed',
            'MathcesWon',
            'NoResult',
            'Points'
        ],
    ).sort_values(by = ['Points', 'TeamName'], ascending = [False, True]).set_index(keys = 'TeamName')

    return df

In [286]:
point_table('2022')

                             MatchesPlayed  MathcesWon  NoResult  Points
TeamName
Gujarat Titans                          16          12         0      24
Rajasthan Royals                        17          10         0      20
Lucknow Super Giants                    15           9         0      18
Royal Challengers Bangalore             16           9         0      18
Delhi Capitals                          14           7         0      14
Punjab Kings                            14           7         0      14
Kolkata Knight Riders                   14           6         0      12
Sunrisers Hyderabad                     14           6         0      12
Chennai Super Kings                     14           4         0       8
Mumbai Indians                          14           4         0       8

### **üéØ Q10: IPL Points Table (Extended)**  

Extend the **IPL Points Table** from the previous question by adding an **extra column**: `"SeasonPosition"`.  

1. **üìå Column: `SeasonPosition` Rules**  
    After **sorting by**:  
    1. **"Points"** (descending order)  
    2. **"TeamName"** (ascending order)  

Assign the `"SeasonPosition"` as follows:  

2. **üèÜ Top 4 Teams**  
    | Position | Condition |
    |----------|-----------|
    | **Winner** | Team that won the Final |
    | **Runner** | Team that lost the Final |
    | **3** | Losing team in **Qualifier 2** |
    | **4** | Losing team in **Eliminator** |

3. **üìä Other Teams**  
   - All remaining teams will have `"SeasonPosition"` **equal to their rank**, using `rank()`.

4. **‚úÖ Updating Specific Cells in a DataFrame**  
   - Use **`df.at[row_index, col_label] = value`** to modify individual cells.  
   - **Avoid SettingWithCopyWarning** by working on a copy of the DataFrame:  
     ```python
     df = df.copy()
     ```  

5. **üìä Expected DataFrame Format**  
    | **TeamName**        | **MatchesPlayed** | **MatchesWon** | **NoResult** | **Points** | **SeasonPosition** |
    |----------------------|------------------|---------------|------------|----------|------------------|
    | Gujarat Titans      | 16               | 12            | 0          | 24       | **Winner**       |
    | Rajasthan Royals    | 17               | 10            | 0          | 20       | **Runner**       |
    | Team XYZ           | 16               | 9             | 1          | 19       | **3**            |
    | Team ABC           | 15               | 8             | 1          | 17       | **4**            |
    | Team PQR           | 15               | 7             | 1          | 15       | **5**            |

6. **üöÄ Final Output Example (Top 2 from 2022)**  
    ```plaintext
    TeamName          MatchesPlayed  MatchesWon  NoResult  Points  SeasonPosition
    Gujarat Titans          16         12         0       24       Winner
    Rajasthan Royals        17         10         0       20       Runner
    ...
    ```

7. **üìå Notes:**  
   - The **function should return the complete table** with `"SeasonPosition"`.  
   - Ensure the `"SeasonPosition"` column is updated **correctly** based on match results.  
   - Use **`rank()`** for non-top-4 teams.  

üöÄ **Call Example:**  
```python
points_table('2022')
```

In [318]:
def get_loosing_team(df):
    if df.WinningTeam == df.Team1:
        return df.Team2
    else:
        return df.Team1

In [345]:
def point_table_extension(season : str):
    season_matches = ipl_df[ipl_df.Season == season].copy()
    table = point_table(season = season)

    table['SeasonPosition'] = table.Points.rank(
        method = 'first',
        ascending = False
    ).astype('object')

    winning_team = season_matches.WinningTeam[season_matches.MatchNumber == 'Final'].values[0]
    table.at[winning_team, 'SeasonPosition'] = 'Winner'

    season_matches['LosingTeam'] = season_matches.apply(func = get_loosing_team, axis=1)

    runner_team = season_matches.LosingTeam[season_matches.MatchNumber == 'Final'].values[0]
    table.at[runner_team, 'SeasonPosition'] = 'Runner'

    third_team = season_matches.LosingTeam[season_matches.MatchNumber == 'Qualifier 2'].values[0]
    table.at[third_team, 'SeasonPosition'] = 3

    fourth_team = season_matches.LosingTeam[season_matches.MatchNumber == 'Eliminator'].values[0]
    table.at[fourth_team, 'SeasonPosition'] = 4

    return table

In [346]:
point_table_extension('2022')

,MatchesPlayed,MathcesWon,NoResult,Points,SeasonPosition
TeamName,,,,,
Gujarat Titans,16,12,0,24,Winner
Rajasthan Royals,17,10,0,20,Runner
Lucknow Super Giants,15,9,0,18,4
Royal Challengers Bangalore,16,9,0,18,3
Delhi Capitals,14,7,0,14,5.0
Punjab Kings,14,7,0,14,6.0
Kolkata Knight Riders,14,6,0,12,7.0
Sunrisers Hyderabad,14,6,0,12,8.0
Chennai Super Kings,14,4,0,8,9.0
Mumbai Indians,14,4,0,8,10.0